#############################################################
# .rc for pyscro H5Loader
#############################################################

module -name "H5Loader" \
-language "python" \
-file "share/python_script_objects/H5Loader.pyscro" \
-primary "HxUniformScalarField3" \
-package "py_core" \
-category "{Python Scripts}"