#############################################################
# .rc for pyscro N5Read
#############################################################

module -name "N5Read" \
-language "python" \
-file "share/python_script_objects/N5Read.pyscro" \
-primary "HxUniformScalarField3" \
-package "py_core" \
-category "{Python Scripts}"