#############################################################
# .rc for pyscro N5Write
#############################################################

module -name "N5Write" \
-language "python" \
-file "share/python_script_objects/N5Write.pyscro" \
-primary "HxUniformScalarField3" \
-package "py_core" \
-category "{Python Scripts}" \